**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.cursor/
**/.idea/
**/node_modules/
**/Logs/
**/*.user
**/*.suo
**/*.log
.git
.gitignore
docs/
test/
*.md
!README.md
docker-compose*.yml
.env
.env.*
!.env.example
